/* Bulmaのインポート */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: silver;
}

.appTitle {
  display: block;
  text-align: center;
}

.p-canvasWrapper {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.p-graph {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.p-graphTime {
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  top: 3.8em;
}

.p-graphText {
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: xx-large;
  text-align: center;
  top: 4.9em
}

.p-inputForm {
  margin: 0 auto;
  text-align: center;
}

/* inputの横幅を指定する */

.p-itemText {
  width: 8em;
}

.content {
  vertical-align: bottom;
}

.p-btnGroup {
  width: 370px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-table {
  margin:auto;
  margin-top: 0;
  background-color: silver;
}

.p-rowRemainTime {
  color: #363636;
}

.p-rowRemainTimeOver {
  color: red;
}

.delete {
  margin-left: auto;
  margin-right: auto;
}

/* iwb.jpを参考 */
footer{
  margin-top: auto;
  text-align: center;
  background-color: silver;
}

/* 20220318ハンバーガーメニューここから以下 */
/*
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/*
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 70%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/*
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

ol {
  padding-left:2em;
}