/* Bulmaのインポート */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  background-color: silver;
}

.appTitle {
  display: block;
  text-align: center;
}

.p-canvasWrapper {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}
.p-text {
  position: absolute;
  margin: 0 auto;
  top: 100px;
}

.p-graph {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.p-graphText {
  top: 0;
  left: 0;
  position: absolute;
}

.p-inputForm {
  margin: 0 auto;
  text-align: center;
}

/* inputの横幅を指定する */

.p-itemText {
  width: 8em;
}

.content {
  vertical-align: bottom;
}

.p-btnGroup {
  width: 370px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-table {
  margin:auto;
  background-color: silver;
}